/*********************************General styles***********************************/
.cBgBlack {
  background-color: black;
}

.cBgWhite {
  background-color: white;
}

.cBlackTransparent {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.cFontMono {
  font-family: monospace;
}

.cFontColorWhite {
  color: white !important;
}

.cVerticalCenter {
  height: 50%;
  margin-top: 200px
}

.cChatTextLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.cChatSpace{
  margin-bottom: 100px;
}

li{
  list-style: none
}

/********************************Components styles**********************************/
.cCardTitle {
  font-size: 15px;
}

.cCardPrice {
  position: absolute;
  top:30px;
  margin-left: -15px;
  padding: 3px;
  background-color: rgba(53,168,63,1);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cCardNameHeight {
  height: 95px;
}

.cPurchaseListName {
  font-size: 15px;
  font-weight: 700;
}

.cPurchaseListPrice {
  font-size: 12px;
}

.cPurchaseListSubTotal {
  font-size: 18px;
}

.cPurchaseListImg {
  max-width: 100px;
}

.cTotalAndPayTitle {
  color: gray;
}

.cTotalAndPayPrice {
  font-size: 40px;
  font-weight: 700;
}

.cTotalAndPayBtnTxt {
  font-weight: 700;
}

.cNavBarSpace {
  margin-top: 70px;
}

.cNavBarHeight {
  height: 56px;
}

.cNavBarBadge {
  animation-name: badgeChange;
  animation-duration: 0.8s;
}

.cNavbarItem{
  cursor: pointer;
  color: white
}

.cNavbarSubItem{
  cursor: pointer;
  color: white !important
}

.cNavbarSubItem:hover{
  color: black !important
}

.cNavBarLicores {
  background-image: url("https://elroblemarket.com/test6/build/img/products/tragos/licores.jpg");
  font-size: 50px;
}

.cNavBarCigarros {
  background-image: url("https://elroblemarket.com/test6/build/img/products/cigarros/cigarros.jpg");
  font-size: 50px;
}

.cNavBarTapas {
  background-image: url("https://elroblemarket.com/test6/build/img/products/tapas/tapas.jpg");
  font-size: 50px;
}

.cSentMessageImg {
  margin-top: 150px;
  text-align: center;
  animation-name: sentMessageImg;
  animation-duration: 0.8s;
}

/**********************************Media queries************************************/

/* Very Small devices (landscape phones, 10px and up) */
@media (min-width: 10px) {
  .cFixed {
    width: 95%;
    position: fixed;
    bottom: 0;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 180px;
  }

  .cTotalAndPayBtn {
    width: 50%
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%
  }
}

/******************************Keyframes******************************/

@keyframes badgeChange {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sentMessageImg{
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}