
/*********************************General styles***********************************/
.cBgBlack{
  background-color: black
}

.cBgWhite{
  background-color: white
}

.cBlackTransparent{
  background-color: rgba(0,0,0,0.5) !IMPORTANT
}

.cFontMono{
  font-family: monospace
}

.cFontColorWhite{
  color: white !IMPORTANT
}

.cNavBarSpace{
  margin-top: 70px
}

.cNavBarHeight{
  height: 56px;
}

.cNavBarLicores{
  background-image: url("/img/products/tragos/licores.jpg");
  font-size: 50px;
}

.cNavBarCigarros{
  background-image: url("/img/products/cigarros/cigarros.jpg");
  font-size: 50px;
}

.cNavBarTapas{
  background-image: url("/img/products/tapas/tapas.jpg");
  font-size: 50px;
}

/********************************Components styles**********************************/
.cCardTitle {
  font-size: 15px;
}

.cCardPrice {
  font-size: 14px;
}

.cPurchaseListName{
  font-size: 15px;
  font-weight: 700
}

.cPurchaseListPrice{
  font-size: 12px;
}

.cPurchaseListSubTotal{
  font-size: 18px;
}

.cPurchaseListImg{
  max-width: 100px
}

.cTotalAndPayTitle{
  color: gray
}

.cTotalAndPayPrice{
  font-size: 40px;
  font-weight: 700
}

.cTotalAndPayBtn{
  font-weight: 700
}


/**********************************Media queries************************************/

/* Very Small devices (landscape phones, 10px and up) */
@media (min-width: 10px) {
  .cFixed{
    width: 95%;
    position: fixed;
    bottom: 0;
    z-index: 100000
  }

  .cTotalAndPaySpace{
    margin-bottom: 180px
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {
  .cFixed{
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000
  }

  .cTotalAndPaySpace{
    margin-bottom: 10px
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cFixed{
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000
  }

  .cTotalAndPaySpace{
    margin-bottom: 10px
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cFixed{
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000
  }

  .cTotalAndPaySpace{
    margin-bottom: 10px
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cFixed{
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000
  }

  .cTotalAndPaySpace{
    margin-bottom: 10px
  }
}
