/*********************************General styles***********************************/
.App {
  height: 100vh;
}

.cBgBlack {
  background-color: black;
}

.cBgWhite {
  background-color: white;
}

.cBlackTransparent {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.cFontMono {
  font-family: monospace;
}

.cFontColorWhite {
  color: white !important;
}

.cVerticalCenter {
  height: 100%;
  margin-top: 15vh;
}

.cChatTextLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.cChatSpace {
  margin-bottom: 100px;
}

.cUnselText {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.cSelText {
  -webkit-user-select: text; /* Safari */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* IE10+/Edge */
  user-select: text; /* Standard */
}

.active {
  background-color: white;
}

li {
  list-style: none;
}

/********************************Components styles**********************************/
.cCardTitle {
  font-size: 15px;
}

.cCardPrice {
  position: absolute;
  top: 30px;
  margin-left: -15px;
  padding: 3px;
  background-color: rgba(53, 168, 63, 1);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cCardNameHeight {
  height: 95px;
}

.cPurchaseListName {
  font-size: 15px;
  font-weight: 700;
}

.cPurchaseListPrice {
  font-size: 12px;
}

.cPurchaseListSubTotal {
  font-size: 18px;
}

.cPurchaseListImg {
  max-width: 100px;
}

.cTotalAndPayTitle {
  color: gray;
}

.cTotalAndPayPrice {
  font-size: 40px;
  font-weight: 700;
}

.cTotalAndPayBtnTxt {
  font-weight: 700;
}

.cTotalAndPayOrdNo {
  font-weight: 900;
}

.cNavbarSpace {
  margin-top: 70px;
}

.cNavBarHeight {
  height: 56px;
}

.cNavbarBadge {
  position: absolute;
  left: 32px;
  top: 28px;
}

.cNavbarBadgeMove {
  animation-name: badgeChange;
  animation-duration: 0.8s;
}

.cNavbarItem {
  cursor: pointer;
  color: white;
}

.cNavbarSubItem {
  cursor: pointer;
  color: white !important;
}

.cNavbarSubItem:hover {
  color: black !important;
}

.cNavbarLink_1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 56px;
  background-color: inherit;
}

.cNavbarLink_2 {
  position: absolute;
  top: 0;
  left: 56px;
  height: 56px;
  width: 56px;
  background-color: inherit;
}

.cNavBarLicores {
  background-image: url("https://elroblemarket.com/test6/build/img/products/tragos/licores.jpg");
  font-size: 50px;
}

.cNavBarCigarros {
  background-image: url("https://elroblemarket.com/test6/build/img/products/cigarros/cigarros.jpg");
  font-size: 50px;
}

.cNavBarTapas {
  background-image: url("https://elroblemarket.com/test6/build/img/products/tapas/tapas.jpg");
  font-size: 50px;
}

.cSentMessageImg {
  margin-top: 150px;
  text-align: center;
  animation-name: sentMessageImg;
  animation-duration: 0.8s;
}

/**********************************Media queries************************************/

/* Very Small devices (landscape phones, 10px and up) */
@media (min-width: 10px) {
  .cFixed {
    width: 95%;
    position: fixed;
    bottom: 0;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 180px;
  }

  .cTotalAndPayBtn {
    width: 50%;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cFixed {
    width: 30%;
    position: fixed;
    bottom: 50%;
    z-index: 100000;
  }

  .cTotalAndPaySpace {
    margin-bottom: 10px;
  }

  .cTotalAndPayBtn {
    width: 100%;
  }
}

/******************************Keyframes******************************/

@keyframes badgeChange {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sentMessageImg {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
